.popup__button-save {
  position: relative;
  margin-top: auto;
  display: block;
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s;
  cursor: pointer;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
  }
}
