.popup__input-error {
  margin: 5px 0 0 0;
  padding: 0;
  visibility: hidden;
  color: #f00;
  font-size: 12px;
  line-height: 14px;
  height: 28px;
}

.popup__input-error:last-of-type {
  margin-bottom: 18px;
}

@media screen and (max-width: 540px){
  .popup__input-error {
    font-size: 10px;
  }
}
