.card__button-delete {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 0;
  position: absolute;
  background-color: transparent;
  background-image: url('/src/styles/images/icons/icon__delete.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s;
}

.card__button-delete:hover {
  opacity: .6;
}
