.popup__button_type_save {
  display: block;
  width: 100%;
  padding: 14px;
  margin-top: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
  background-color: black;
  border: none;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s;
  cursor: pointer;
}

.popup__button_type_save:hover {
  opacity: 0.8;
}
