.popup__button_type_close {
  width: 32px;
  height: 32px;
  background-image: url(../../../../images/icons/icon__close.svg);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s;
}

.popup__button_type_close:hover {
  opacity: .6;
}

