.popup__input {
  margin: 0;
  padding: 0 0 13px 0;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: black;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.popup__input:first-of-type {
  margin-top: 44px;
}


.popup__input::placeholder {
  color: black;
}

@media screen and (max-width: 767px) {
  .popup__input:first-of-type {
    margin-top: 39px;
  }
  .popup__input:last-of-type {
    margin-bottom: 19px;
  }
}