.card__button-like {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  background-image: url('../../../images/icons/icon__like-default.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s;
}

.card__button-like:hover {
  opacity: .5;
}