.profile__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

@media screen  and (max-width: 768px) {
  .profile__info {
    max-width: 100%;
  }
}

@media screen  and (max-width: 425px) {
  .profile__info {
    gap: 8px;
    margin-bottom: 11px;
  }
}